.tabele-bug-tester {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.addBugTester {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    background-color: white;
    width: 200px;
    height: 400px;
}

.titlu-add-bug-tester {
    color: black;
    font-size: medium;
    margin-bottom: 0;
}

.addBugTester input {
    padding: 10px 5px;
}