.login-box {
  width: 320px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  box-shadow: 0 15px 25px var(--bg-color);
  border-radius: 10px;
}

.login-box h1 {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 10px;
  padding: 13px 0;
  text-align: center;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0 30px 0;
  border-bottom: 2px solid var(--secondary-color);
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
  color: var(--primary-color);
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  color: var(--primary-color);
}

.btn {
  width: 100%;
  height: 50px;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

:root {
  --primary-color: white;
  --secondary-color: rgb(19, 116, 212);
  --bg-color: rgba(0, 0, 0, 0.8);
}